.container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:15px;
}

.card{
  padding: 15px;
  border-radius: 3px;
}

.grid-item-1{
  background-color: purple;
  grid-column: 1 / span 2;
}
.grid-item-2{
  background-color: gray;
  grid-column: 3;
}

.grid-item-3{
  background-color: plum;
  grid-column: 4;
  grid-row: span 2;
}
.grid-item-4{
  background-color: lightgray;
  grid-column: 1;
}
.grid-item-5{
  background-color: rgb(44, 11, 46);
  grid-column: 2 / span 2;
  color: white;
}

